# Ignore everything except what we want
**

# What we actually want
!/metadash
!/deploy
!/bin
!/*.py
!/.*.js
!/.*.yml
!/package.json
!/Pipfile
!/requirements.txt
!/.eslintignore
!/.flake8
!/.babelrc
!/.coveragerc
