[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

"flake8" = "*"
sphinx = "*"


[packages]

flask-restful = "*"
flask-migrate = "*"
sqlalchemy = "*"
resultsdb-api = "*"
flask = "*"
flask-sqlalchemy = "*"
redis = "*"
"ldap3" = "*"
celery = "*"
requests = "*"
"flake8" = "*"
"dogpile.cache" = "*"
coloredlogs = "*"
flask-session = "*"
uwsgi = "*"
