[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
requests = "*"
gevent = "*"
flake8 = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
resultsdb_api = "*"
Flask-SocketIO = "*"
Flask-Session = "*"

[packages.caselink]
git = "https://github.com/ryncsn/caselink-python"
ref = "master"
